body {
  background-color: hsl(210, 40%, 10%);
  margin: 0;
}

.container {
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #ddd;
  box-shadow: 0px 0px 1rem 8px pink;
}

.gridCol {
  flex: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.gridRow {
  flex: 1;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 40px;
  gap: 80px;
}

.btns>button {
  padding: 10px 15px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 700;
}

.btns>.reset {
  background-color: hsl(120, 50%, 50%);
}

.btns>.reset:hover {
  background-color: hsl(120, 60%, 40%);
}

.btns>.change-color {
  background-color: hsl(40, 50%, 50%);
}

.btns>.change-color:hover {
  background-color: hsl(40, 60%, 40%);
}

.btns>.change-size {
  background-color: hsl(220, 50%, 50%);
}

.btns>.change-size:hover {
  background-color: hsl(220, 60%, 40%);
}

.btns>.change-opacity-step {
  background-color: hsl(180, 50%, 50%);
}

.btns>.change-opacity-step:hover {
  background-color: hsl(180, 60%, 40%);
}
